.breadcrumb-container {
    width: 100%;
    background-color: #f4f4f4;
    padding: 16px 100px;
    font-size: 12px;
    gap: 4px;

    .bread__item-wrapper {
        max-width: 145px;
        overflow: hidden;
        white-space: nowrap; /* Ngăn text xuống dòng */
    }
    .bread__item-wrapper + .bread__item-wrapper {
        position: relative;
        padding-left: 9px;

        &::before {
            position: absolute;
            content: "-";
            width: 5px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .breadcrumb-prev-link {
        text-decoration: underline;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #000;
    }
    .breadcrumb-curr-link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media all and (max-width: 768px) {
    .breadcrumb-container {
        padding: 16px;
    }
    .isHideSp {
        display: none !important;
    }
}