.filter__form-wrapper {
    @media (min-width: 768px) {
        max-width: 400px;
    }
}
.dateSelected {
    color: #1b1b1b !important;
}

.form__input {
    font-size: 12px !important;
    font-weight: 400;
    color: #1b1b1b;

    &::placeholder {
        font-size: 12px !important;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #b1b1b1;
    }
}
.to-text {
    width: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-right: 8px !important;
    margin-left: 8px !important;
    color: #000;
}

.listday__checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.listday__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    border-radius: 4px;
    border: 1.5px solid #1b1b1b;
    color: #fff;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}
.listday__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
}
.modal__sub-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #1b1b1b;
}

.title-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #1b1b1b;
}

.fillInput {
    border-color: #1b1b1b !important;
    color: #1b1b1b !important;

    select {
        border-color: #1b1b1b !important;
        color: #1b1b1b !important;
    }
}