.create__request-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 12px;
}
.create__request-checkbox {
    margin-top: 16px;
    font-size: 12px;
}
.create__request-checkbox-item {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}
.create__request-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.create__request-button-left {
    min-width: 120px;
    max-width: 40%;
    font-size: 14px;
}
.create__request-button-right {
    min-width: 272px;
    max-width: 60%;
    font-size: 14px;
}

.close-btn {
    display: flex;
    align-items: center;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: unset;
    border: unset;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}
.logo_sp {
    display: none;
}
/* CSS for components */
.request__form-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-size: 12px;
}
.request__form-wrap select,
.request__form-wrap input {
    padding: 14px 10px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    margin-top: 6.5px;
    font-size: 12px;
}
.request__form-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.request__form-range-item {
    width: 100%;
}
.create__request-language {
    position: relative;
    .select-btn {
        position: relative;
        margin-top: 6.5px;
        border-radius: 4px;
        padding: 12px 10px;
        .icon-select-left {
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            left: 10px;
        }
        .btn-text {
            padding-left: 22px;
        }
        .content-drop-down {
            font-size: 12px;
        }
    }
}
.create__request-header {
    position: relative;
    padding: 12.5px 12px;
    margin: 24px auto 0 auto;
    width: 100%;
    max-width: 400px;
}

.create__request-header.dark {
    max-width: unset;
    display: none;
}

.create__request-header-img {
    position: absolute;
    left: 16px;
    top: 10px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.create__request-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    height: 29px;
    letter-spacing: -0.01em;
}
.modal {
    padding: 16px !important;
}
.modal__container {
    max-width: 368px !important;
}
.modal__title {
    font-size: 16px;
    font-weight: 700;
    max-width: 189px;
    letter-spacing: -0.16px;
    line-height: 1.62;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}
.modal__content-wrap {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    font-size: 12px;
    line-height: 1.83;
}
.modal__content-title {
    margin: 0 auto;
    color: #5392F9 ;
    font-size: 14px;
    font-weight: bold;
}
.modal__btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    font-family: "Noto Sans JP";
    font-size: 14px;
}
.modal__btn-btn {
    min-width: 176px;
    min-height: 50px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Noto Sans JP";
    font-size: 14px;
}
.modal__btn-btn-left {
    border: 1px solid #5392F9 ;
    color: #5392F9 ;
    background-color: white;
}
.modal__btn-btn-right {
    background-color: #5392F9 ;
    color: white;
    border: none;
}
.item {
    display: inline-flex;
    margin: 20px;
    color: #000;
}
.item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    margin-right: 12px;
    transition: all 0.3s ease-in-out;
}

input:focus-visible {
    outline: #1b1b1b auto 1px !important;
}
select:focus-visible {
    outline: #1b1b1b auto 1px !important;
}
.hide-on-mobile {
    display: block;
}
.hide_on_pc {
    display: none;
}
@media all and (max-width: 768px) {
    .create__request-container {
        padding: 0 16px;
    }
    .create__request-button-right {
        min-width: 215px;
    }
    .modal__btn-btn {
        min-width: 147px;
    }
    .create__request-header-img {
        top: 10px;
        left: 0;
    }
    .create__request-header {
        margin-top: 0;
        padding: 12.5px 0;

        &.dark {
            display: flex;
        }

        &.hide_on_sp {
            display: none;
        }
    }
    .logo_sp {
        display: block;
    }
    .hide-on-mobile {
        display: none;
    }
    .hide_on_pc {
        display: block;
    }
}

@media all and (max-width: 480px) {
    .create__request-header {
        position: relative;
        margin-top: 0;
    }
    .create__request-header-title {
        img {
            display: block;
        }
    }
}
