@import "../../../../public/scss/imports/core/variables";
@import "../../../../public/scss/imports/core/mixins";

.user__profile-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 19.2px;
    color: #1b1b1b;
}

.user__profile-content {
    padding: 0 16px;
}

.user-infomation {
    color: #1b1b1b;
    padding: 16px 0 0 0;
    max-width: 400px;
    font-family: "Noto Sans JP";

    @include mobile {
        padding: 16px;
    }
    &-title {
        padding: 8px 0;
        font-family: "Noto Sans JP";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 25.6px; /* 25.6px */
        letter-spacing: -0.16px;
        margin-bottom: 3px;
    }
    .note {
        color: #7f7f7f;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.1px;
        margin-top: 4px;
    }
    .double-input-form {
        margin-top: 16px;
        &-input {
            gap: 16px;
        }
    }
    .form__wrap-item {
        padding-bottom: 0;
    }
    &-warning {
        color: #e71a41;
        padding: 8px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.2px;
        letter-spacing: -0.12px;
        background-color: #ffe7eb;
        border-radius: 4px;
        margin-top: 16px;
    }
    &-button {
        margin-top: 16px;
        color: #ffffff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px; /* 22.4px */
        letter-spacing: -0.14px;
        background-color: #5392F9 ;
        padding: 14px 16px;
        border: none;
        border-radius: 4px;
        background-image: url(/img/icon/RequestClass/caretright.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center !important;
    }
    &-delete {
        color: #e71a41;
        font-family: Noto Sans JP;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px; /* 22.4px */
        letter-spacing: -0.14px;
        text-decoration-line: underline;
        padding: 14px;
        margin-top: 16px;
    }
    &-category {
        margin-top: 16px;
    }
    .tripple-select {
        margin-top: 16px;
    }
}

.error {
    color: #e71a41;

    label {
        color: #e71a41;
    }
}

.btn-disabled {
    opacity: .6;
}

.form__btn-submit {
    width: 100%;
    max-width: 343px;
    font-family: Noto Sans JP;
    margin: 16px auto 0 auto;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
}
:deep(.request__form-wrap) {
    margin-top: 0;
    width: 100%;
    input {
        padding: 12.5px 10px;
        border-radius: 4px;
        border: 1px solid #e3e3e3;
        margin-top: 6px;
        font-size: 12px;
        height: 44px;
        width: 100%;
    }
    label {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.2px;
        letter-spacing: -0.12px;
    }
}
