html {
    scroll-behavior: smooth;
}

.error-msg {
    color: #E71A41;
	font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 16px */
    letter-spacing: -0.1px;
}

.content {
    margin-bottom: 20px;
}

.header-category {
    display: flex;
    justify-content: center;
}

.header-category_item {
    display: inline-block;
}

.header-category_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-category_item_title {
    font-size: 12px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.text-error {
    color: #E71A41;
	font-size: 14px;
}
