.title {
    color: #1b1b1b;
    height: 16px;
}
.content {
    padding: 16px 17px 0;
    color: #1b1818;
    line-height: 1.6;
    white-space: nowrap;
    margin-bottom: 0;
}

.image-sucess-apply {
    padding-top: 24px;
    img {
        height: 124px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .image-sucess-apply {
        padding-top: 16px;
    }
}

.button-return {
    height: 50px;
    font-size: 14px;
    border-radius: 4px;
    width: 343px;
}
.button-dash-board {
    background-color: #5392F9 ;
    color: #ffffff;
    cursor: pointer;
}
.button-top {
    background-color: #ffffff;
    color: #5392F9 ;
    font-size: 14px;
    border: 1px solid #000;
}

.button-dashboard-container {
    padding-bottom: 8px;
}