.create-course-container {
    max-width: 400px;
    padding: 0px;
    height: 100%;

    margin: 0 auto;
    .create-course-category {
        gap: 8px;
        padding: 8px 0;
        flex-wrap: nowrap; /* Ngăn chặn các category xuống dòng */
        overflow-x: auto; /* Cho phép cuộn ngang khi nội dung vượt quá khung */
        white-space: nowrap; /* Ngăn trình duyệt xuống dòng nội dung */
        height: 54px;
        &-item {
            height: 35px;
            padding: 8px 16px;
            display: flex;
            border-radius: 100px;
            color: #4D4D4D;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: -0.12px;
            border: 1px solid #4D4D4D;
            font-size: 12px;
            align-items: center;
            cursor: pointer;
            &-all {
                padding: 0px 28px;
            }
        }
        .isSelected {
            border-color: #5392F9 ;
            background-color: #5392F9 ;
            color: #ffffff;
        }
    }
    @media all and (min-width: 480px) {
        .create-course-category {
            overflow-x: unset;
        }
        .modal {
            width: 350px;
        }
    }
    .create-course-category::-webkit-scrollbar {
        width: 0; /* Ẩn thanh trượt cho Chrome và Safari */
        height: 0;
    }
    .create-course-filter {
        margin-top: 16px;
        position: relative;

        &-label {
            padding-bottom: 8px;
            .label {
                font-size: 16px;
                line-height: 160%; /* 25.6px */
                letter-spacing: -0.16px;
                font-weight: bold;
                color: #1b1b1b;
            }
            .create-lesson-button {
                font-size: 14px;
                text-decoration: underline;
                color: #5392F9 ;
                font-weight: bold;
                cursor: pointer;
            }
        }
        &-select {
            .select-btn {
                position: relative;
                height: 44px;
                border-radius: 4px;
                padding: 12.5px 10px;
                background-image: url(../../../../../public/img/CaretDown.svg);
                background-repeat: no-repeat;
                background-position: calc(100% - 10px) center !important;
                .btn-text {
                    color: #b1b1b1;
                }
            }
            .list-select-item {
                position: relative;
                border-radius: 8px;
                background-color: #fff;
                border: 1.5px solid #e3e3e3;
                .item {
                    display: flex;
                    padding: 7px 30px;
                    border-bottom: 1px solid #e3e3e3;
                    height: 42px;
                    align-items: center;
                    position: relative;
                    .checkbox {
                        position: absolute;
                        left: 10px;
                        border-radius: 20px;
                        margin-right: 10px;
                        border: none;
                    }
                    .item-text {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 160%;
                        letter-spacing: -0.16px;
                        color: #1b1b1b;
                    }
                }
            }
        }
    }
    .card-lesson {
        margin-top: 16px;
        .base__lesson-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 6px;
            color: black;
        }
        .base__lesson-container:hover {
            cursor: pointer;
        }
        .base__lesson-content {
            display: flex;
            align-items: center;
            gap: 6px;
        }
        .base__lesson-content-title {
            display: flex;
            align-items: center;
            gap: 4px;
        }
        .base__lesson-content-title-tag {
            padding: 2px 4px;
            background-color: #e1eff2;
            border-radius: 4px;
            font-size: 10px;
            color: #5392F9 ;
        }
        .draft-lesson {
            background-color: #ffedc9 !important;
            color: #faad14 !important;
        }

        .reject-lesson {
            background-color: #e3e3e3 !important;
            color: #1b1b1b !important;
        }
        .base__lesson-content-title-name {
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            color: #1b1b1b;
            line-height: 160%; /* 19.2px */
            letter-spacing: -0.12px;
            &-empty {
                color: #989898;
            }
        }
        .base__lesson-content-info {
            display: flex;
            flex-direction: column;
            gap: 4px;
            line-height: 1.6;
            white-space: nowrap;
            max-width: 250px;
        }
        @media all and (max-width: 480px) {
            .base__lesson-content-info {
                max-width: 200px;
            }
        }
        @media all and (max-width: 340px) {
            .base__lesson-content-info {
                max-width: 150px;
            }
        }

        .base__lesson-content-info1 {
            display: flex;
            gap: 10px;
        }

        .base__lesson-content-info1-date,
        .base__lesson-content-info1-price {
            font-size: 10px;
            font-weight: 400;
            line-height: 160%; /* 16px */
            letter-spacing: -0.1px;
            color: #1b1b1b;
        }

        .base__lesson-content-info2 {
            display: flex;
            gap: 10px;
            color: #989898;
        }
        .base__lesson-content-info2-item {
            display: flex;
            align-items: center;
            gap: 2px;
            .base__lesson-number {
                font-size: 10px;
            }
        }

        .number-age {
            font-size: 10px;
        }
        .base__lesson-avatar {
            width: 64px;
            height: 64px;
            background-color: rgba(255, 230, 234, 0.678);
            border-radius: 4px;
        }
        .base__lesson-edit {
            cursor: pointer;

            .button-red {
                color: #e71a41;
                text-decoration: underline;
                text-decoration-color: #e71a41 !important;
            }
        }
        //course infomation
        .course-infomation {
            margin-top: 8px;
            background-color: #f4f4f4;
            padding: 6px 16px;
            border-radius: 8px;
            margin-left: 70px;
            &-week {
                gap: 4px;
                .label {
                    font-size: 12px;
                    font-weight: bold;
                    word-break: break-all;
                }
                .time-class {
                    font-size: 12px;
                }
            }
        }
        .course-create {
            height: 40px;
            gap: 4px;
            align-items: center;
            &-title {
                font-size: 12px;
                color: #5392F9 ;
                font-weight: 400;
                    line-height: 160%; /* 19.2px */
                    letter-spacing: -0.12px;
                cursor: pointer;
            }
            &-showmore {
                text-decoration: underline;
                font-size: 12px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: -0.12px;
                color: #1b1b1b;
                cursor: pointer;
            }
            svg {
                cursor: pointer;
            }
        }
    }
    .modal {
        .modal-container {
            .modal-title {
                font-size: 16px;
                font-weight: bold;
                white-space: nowrap;
            }
            .modal-content {
                margin-top: 16px;
                font-size: 14px;
                padding: 0 13px;
                white-space: nowrap;
            }
            .modal-btn {
                margin-top: 16px;
                gap: 16px;
                &-btn {
                    height: 50px;
                    width: 147px;
                    display: flex;
                    justify-content: center;
                    border-radius: 4px;
                    cursor: pointer;
                }
                &-btn-left {
                    font-size: 14px;
                    border: 1px solid #1b1b1b;
                }
                &-btn-right {
                    font-size: 14px;
                    color: #ffffff;
                    background-color: #e71a41;
                }
            }
        }
    }
}
.edit-text {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 160%;
    letter-spacing: -0.12px;
    color: #1b1b1b;
    text-decoration: underline;
}

@media all and (max-width: 480px) {
    :deep(.modal) {
        width: 342px !important;
    }
}
@media all and (max-width: 768px) {
    .create-course-container {
        padding: 0 16px;
    }
}
