.notification__container {
    padding: 16px;
    gap: 8px;
    max-width: 400px;
    margin: 0 auto;
    &-card {
        padding: 8px;
        gap: 8px;
        min-height: 56px;
        border-radius: 4px;
        .noti__content {
            gap: 2px;
            &-date {
                gap: 2px;
                .date-time {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19.2px;
                    color: #989898;
                    letter-spacing: -0.12px;
                }
                .status-noti {
                    padding: 0 4px;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    color: #ff5575;
                    line-height: 16px;
					letter-spacing: -0.1px;
                }
            }
            &-title {
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 19.2px;
                word-wrap: break-word;
                letter-spacing: -0.12px;
                color: #1b1b1b;
            }
        }
    }
    &-no-result {
        padding: 32px 0;
        .no__result-title {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 25.6px;
            letter-spacing: -0.16px;
            margin-bottom: 16px;
        }
        .no__result-content {
            color: #767474;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.2px;
            letter-spacing: -0.12px;
        }
    }
}

@media screen and (min-width: 720px) {
    .notification__container {
        padding: 16px 0;
    }
}
