.edit-course-container {
    max-width: 400px;
    padding: 0px;
    height: 100%;
    margin: auto;
    .course-metting-info-container {
        margin-top: 16px;

        &-title {
            padding: 8px 0;
            font-size: 16px;
            font-weight: bold;
        }
        &-content {
            border-radius: 4px;
            padding: 16px;
            background-color: #f4f4f4;
            .content-title {
                padding-bottom: 12px;
                border-bottom: 1px solid #e3e3e3;
                .content-title-input {
                    font-size: 16px;
                    font-weight: bold;
                    border: none;
                    background-color: #f4f4f4;
                    cursor: pointer;
                    padding: 3px;
                    &::placeholder {
                        color: #1b1b1b;
                    }
                    &:focus-visible {
                        outline: unset;
                    }
                }
            }
            .list-meeting {
                &-title {
                    font-size: 12px;
                    padding-top: 12px;
                }
                &-content {
                    padding: 11px 0;
                    &-time {
                        font-size: 14px;
                        font-weight: bold;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    &-icon {
                        cursor: pointer;
                    }
                }
                &-add {
                    padding: 12px 8px 0px;
                    gap: 4px;
                    &-content {
                        font-size: 12px;
                        color: #418997;
                        cursor: pointer;
                    }
                    svg {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .student-member-container {
        margin-top: 16px;
        gap: 8px;
        &-title {
            font-size: 16px;
            font-weight: bold;
        }
        &-info {
            background-color: #f4f4f4;
            padding: 8px;
            .student-member-info {
                &-name-age {
                    gap: 16px;
                    .student-name,
                    .student-age {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                &-time {
                    gap: 4px;
                    .new-member {
                        font-size: 10px;
                        font-weight: bold;
                        color: #ff5575;
                    }
                    .time-register {
                        font-size: 12px;
                        color: #7f7f7f;
                    }
                }
            }
            .student-member-question {
                gap: 4px;
                &-content {
                    font-size: 12px;
                    color: #7f7f7f;
                    word-wrap: break-word;
                }
            }
        }
    }
    .student-member-no-student {
        padding: 16px;
        font-size: 16px;
        background-color: #F4F4F4;
        color: #989898;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        letter-spacing: -0.16px;
    }
    .application-deadline-container {
        margin-top: 16px;
        &-title {
            font-size: 16px;
            font-weight: bold;
            padding: 8px 0;
        }
        &-select-day {
            font-size: 12px;
            white-space: nowrap;
            gap: 4px;
            .day-select {
                width: 57px;
                height: 44px;
                select {
                    width: 100%;
                    height: 100%;
                    padding: 0 10px;
                    border-radius: 4px;
                    border: 1px solid #e3e3e3;
                    background-image: url(../../../../../public/img/icon/CaretDown.svg);
                    background-repeat: no-repeat;
                    background-position: calc(100% - 10px) center !important;
                }
                select {
                    cursor: pointer;
                }
            }
        }
        &-note {
            margin-top: 16px;
            color: #7f7f7f;
            font-size: 10px;
            line-height: 160%;
            letter-spacing: -0.1px;
        }
    }
    &-button {
        margin-top: 16px;
        gap: 8px;
        .double-button {
            font-size: 14px;
            gap: 8px;
            height: 50px;
            &-left {
                width: 120px;
                color: #418997;
                text-decoration: underline;
                text-decoration-color: #418997;
                cursor: pointer;
            }
            &-right {
                width: 215px;
                height: 50px;
                background-color: #418997;
                color: #ffffff;
                padding: 14px 4px;
                border-radius: 4px;
                cursor: pointer;
            }
            &-right-disabled {
                width: 215px;
                height: 50px;
                background-color: #cacaca;
                color: #989898;
                padding: 14px 4px;
                border-radius: 4px;
            }
        }
        .button-delete {
            padding: 15.5px 0;
            &-content {
                color: #e71a41;
                font-size: 12px;
                text-decoration: underline;
                text-decoration-color: #e71a41;
                cursor: pointer;
            }
        }
    }
}

.modal {
    .modal-container {
        .modal-title {
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap;
        }
        .modal-metting-delete {
            gap: 8px;
            margin-top: 16px;
            &-info {
                font-size: 14px;
                font-weight: bold;
                color: #1b1b1b;
            }
            .member-count {
                color: #418997;
            }
        }
        .modal-content {
            margin-top: 16px;
            font-size: 14px;
            padding: 0 13px;
            white-space: nowrap;
        }
        .modal-note {
            padding: 0 5.5px;
            margin-top: 16px;
            &-content {
                color: #e71a41;
                font-size: 14px;
            }
            &-ul {
                font-size: 10px;
            }
        }
        .modal-btn {
            margin-top: 16px;
            gap: 16px;
            &-btn {
                height: 50px;
                width: 176px;
                display: flex;
                justify-content: center;
                border-radius: 4px;
                cursor: pointer;
            }
            &-btn-left {
                font-size: 14px;
                border: 1px solid #1b1b1b;
            }
            &-btn-right {
                font-size: 14px;
                color: #ffffff;
                background-color: #e71a41;
            }
            .btn-add {
                background-color: #418997;
            }
        }
    }
}
@media all and (max-width: 480px) {
    :deep(.modal) {
        width: 342px !important;
    }
}

.form-select-date {
    gap: 8px;
}
.tripple-select {
    &-title {
        font-size: 12px;
        padding-bottom: 6.5px;
        padding-top: 16px;
    }
    .form-wrap-tripple {
        flex: 1;
    }
}

.select-form {
    width: 100%;
    height: 44px;
    padding: 0px 10px;
    border-radius: 4px;
    background-image: url(../../../../../public/img/CaretDown.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center !important;
    border-color: #e3e3e3;
}

.double-select {
    width: 100%;
    margin-top: 14.5px;

    .form-wrap-double {
        flex: 1;
    }
    &-title {
        font-size: 12px;
    }
    .form-wrap-to {
        margin: 8px 8px;
        transform: translateY(8px);
        font-size: 12px;
    }
}
.double-select-title-options {
    padding: 10px;
    height: 44px;
    min-width: 115.6px;
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    font-family: 'Noto Sans JP';
}
.edit-course-header {
    margin-bottom: 15px;
}
@media all and (max-width: 768px) {
    .edit-course-container {
        padding: 0px 16px;
    }
    .double-select-title-options {
        min-width: 141px !important;
    }
    .modal-btn-btn {
        width: 147px !important;
    }
}
