.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    .form__wrap-item {
        .intersest-items {
            li {
                cursor: pointer;
            }
        }

        .dp__input {
            padding-left: 40px;
        }

        .error {
            color: red;
            
            label {
                color: red;
            }

            input {
                border-color: red; 
            }

            .note {
                color: #7F7F7F; 
            }

            ::-webkit-input-placeholder {
                /* Edge */
                color: red; 
            }

            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: red; 
            }

            ::placeholder {
                color: red; 
            }

            .select__wrapper .select__input-wrapper {
                border-color: red; 
            }
        }
    }

    .form__wrap-item.error {
        .select-btn {
            border-color: red;
        }

        span {
            color: #7F7F7F;
        }
    }

    .tripple-select {
        gap: 8px;
        .form-wrap-tripple {
            flex: 1;
        }
    }

    .skip-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 16px; 
        /* line 8, scss/imports/pages/_signinStep.scss */
        a {
            font-size: 16px;
            color: #5392F9 ;
            display: flex;
            align-items: center; 
        }
        /* line 13, scss/imports/pages/_signinStep.scss */
        img {
            height: 22px; 
            cursor: pointer;
        }
    }
}
.green-bar {
    background-color: #5392f9 !important;
}

.progress__wrap .progressBar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #b1b1b1;
    height: 2px;
    width: 50%;
    transition: 0.4s ease-in;
}
.bar-1 {
    left: 0;
}
.bar-2 {
    left: 50%;
}

.modal__container {
    position: relative;

    .modal__title {
        max-width: 250px;

        img {
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
        }
    }

    .modal__content-wrap {
        background-color: #f4f4f4;
    }

    .modal__btn {
        margin-top: 16px;
        font-family: 'Noto Sans JP';
    }
}