.error__wrapper {
    .errorMsg2 {
        font-size: 10px;
        background-color: transparent;
        padding: 0px;
    }
}
.form-wrap-tripple {
    margin-bottom: 5px;
}
.inputWrap input {
    font-size: 15px;
}
.btn-text-active {
    color: #000000;
    font-size: 16px;
}
.profile-image-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.active {
    background-color: #ffffff !important;
    color: #5392f9 !important;
    border: 1px solid #5392f9 !important;
}
.display-image {
    display: flex;
    align-items: center !important;
    justify-content: center;
}
.button-upload-image {
    display: flex;

    .button-upload {
        margin-top: 15px;
        padding: 7px 20px 7px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}
.note {
    font-size: 14px !important;
}