.submit__button {
    max-height: 50px;
    padding: 16px;
    border-radius: 4px;
    margin-top: 32px;
    border: none;
    cursor: pointer;
    background-image: url(img/icon/RequestClass/caretright.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center !important;
    font-family: 'Noto Sans JP';
    font-size: 16px;
}