.profile-image-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.active {
    background-color: #ffffff !important;
    color: #5392f9 !important;
    border: 1px solid #5392f9 !important;
}
.btn_disabled {
    background-color: #cacaca !important;
    cursor: pointer;
    color: #989898 !important;
    background-image: url(../../../../public/img/icon/CaretDownDisabled.svg);
}

.error__wrapper {
    color: red;
}
