@import "../../../../public/scss/imports/core/mixins";
@import "../../../../public/scss/imports/core/variables";

.pop-up {
    background: white;
    border-radius: 10px;
    text-align: center;
    width: 350px;

    h1 {
        font-weight: 700;
        font-size: 18px;
        margin: 6px 0px 16px;
        color: black;
    }

    img,
    video {
        width: 350px;
        height: 200px;
        max-width: 100%;
    }

    svg {
        margin-right: 10px;
    }

    .line {
        margin-top: 16px;
    }

    @include mobile {
        img {
            max-height: 146px;
        }
        width: 300px !important;
    }
}

#form-wrap-double .file-change {
    display: flex;
    border: 1px solid #418997;
    background: white;
    color: #418997;
    padding: 13.5px 55px;
    border-radius: 5px;
    margin: 16px auto;
    width: 100%;
    justify-content: center;
    max-width: 343px;
    font-size: 14px;
    font-weight: 700;
}

.file-change:hover {
    cursor: pointer;
}

.form__wrap-item {
    padding-bottom: 0px !important;
}
.form__wrap-item .close-pop-up {
    border: 1px solid #418997;
    background: #418997;
    color: white;
    padding: 14px 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 343px;
    margin: 16px auto 0px;
}
.close-pop-up:hover {
    cursor: pointer;
}
.popup-filename {
    display: flex;
    justify-content: center;
    background: #e3e3e3;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 30px;
}
.popup-text {
    font-weight: bold;
    text-decoration: underline;
    margin: 8px auto 16px;
    max-width: 343px;
    color: #1b1b1b;
}
.popup-text:hover {
    cursor: pointer;
}
.popup-fileimage {
    width: 100%;
    height: fit-content;
}
.video-preview {
    width: 100%;
}
