.select__wrapper {
    position: relative;
    width: 100%;

    &.error {
        .select__input-wrapper {
            border-color: #e71a41;

            span {
                color: #e71a41;
            }
        }
    }
}
.select__input-wrapper {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    background-image: url(../../../../public/img/CaretDown.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    min-height: 44px;
    padding-left: 10px;
    background-color: #fff;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }
}
.select__input-icon-wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 42px;
    padding-right: 6px;
}
.select__input-icon {
    user-select: none;
}
.select__input-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #1b1b1b;
}
.select__dropdown-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 49px;
    max-height: 186px;
    display: none;
    background-color: #fff;
    box-shadow: 0px 2px 6px 2px #00000040;

    border-radius: 14px;
    overflow-y: overlay;
    z-index: 3;
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 100px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #7f7f7f;
        border-radius: 100px;
    }

    &.show {
        display: block;
    }

    .select__dropdown-btn {
        position: relative;
        display: block;
        padding: 7px 30px;
        width: 100%;
        border: unset;
        background-color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #1b1b1b;
        user-select: none;
        transition: all 0.2s linear;

        &:hover {
            cursor: pointer;
            background-color: #e3e3e3;
        }

        &.selected {
            background-color: #e3e3e3;

            &::before {
                position: absolute;
                content: "\2713";
                left: 6px;
                top: 50%;
                transform: translate(50%, -50%);
            }
        }
    }
    .select__dropdown-btn + .select__dropdown-btn {
        border-top: 1px solid #e3e3e3 !important;
    }

    &.upSideDownMobile {
        @media (max-width: 575px) {
            top: unset;
            bottom: 49px;
        }
    }
}

.select__dropdown-option + .select__dropdown-option {
    border-top: 1px solid #e3e3e3;
}

.fillInput {
    border-color: #1b1b1b;
    color: #1b1b1b;
}

.fillInputOnBoarding {
    border-color: #b1b1b1;
    color: #1b1b1b;
}

.noInput {
    border-color: #e3e3e3;
}

.valueExample {
	color: #B1B1B1;
}
.list-selected {
    display: flex;
    padding: 4px;
    color: #1b1b1b;
    border-radius: 4px;
    border: 1px solid #e3e3e3;

    & + & {
        margin-left: 4px;
    }
}