form {
    width: 100%;

    .step-container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 0 16px;
        font-size: 12px;
        line-height: 19.2px;
        color: #1b1b1b;
        // margin-bottom: 261px;
    
        .required-input {
            color: red;
            font-size: 14px;
        }
        &-header {
            position: relative;
            padding-top: 28.5px;
            &-content {
                font-size: 18px;
                font-weight: bold;
            }
            img {
                position: absolute;
                left: 0;
                cursor: pointer;
            }
        }
        .select-form {
            width: 100%;
            height: 44px;
            padding: 0px 10px;
            border-radius: 4px;
            background-image: url(../../../../public/img/icon/CaretDown.svg);
            background-repeat: no-repeat;
            background-position: calc(100% - 10px) center !important;
            border-color: #e3e3e3;
        }
        .select-form:focus-visible {
            outline: #1b1b1b auto 1px !important;
        }
        .text-area-form {
            padding: 10px;
            border-radius: 4px;
            border-color: #e3e3e3;
            line-height: 19.2px;
            height: 108px;
            resize: none;
            &::placeholder {
                font-size: 12px !important;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: -0.01em;
                color: #b1b1b1;
                font-family: "Noto Sans JP";
            }
        }
        .text-area-form:focus-visible {
            outline: #1b1b1b auto 1px !important;
        }
        &-title {
            margin-top: 20.5px;
            font-size: 16px;
            line-height: 1.6;
            font-weight: bold;
            padding-bottom: 24px;
            span {
                height: 26px;
            }
        }
        .upload-image-container {
            justify-content: space-between;
            padding: 0px 16px;
            gap: 16px;
            position: relative;
            .button-upload-image {
                flex-direction: column;
                font-size: 10px;
                min-width: 205px;
                flex: 1;
    
                .button-upload {
                    background-color: #418997;
                    color: #ffffff;
                    height: 50px;
                    padding: 0px 16px;
                    gap: 4px;
                    border-radius: 4px;
                    font-size: 14px;
                    font-weight: bold;
                    position: relative;
                    svg {
                        position: absolute;
                        left: 16px;
                    }
                }
            }
            svg {
                // position: absolute;
            }
        }
    
        .double-input {
            gap: 8px;
            width: 100%;
            .form-wrap-double {
                flex: 1;
            }
        }
        .tripple-select {
            gap: 8px;
            .form-wrap-tripple {
                flex: 1;
            }
        }
        .from-select-input {
            &-select {
                gap: 8px;
                select {
                    width: 100px;
                    input {
                        flex: 1;
                    }
                }
            }
            &-selectForm {
                flex: 1;
            }
            .input-form {
                flex: 1;
            }
        }
    
        .create__request-button {
            display: flex;
            flex-direction: row;
            gap: 16px;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 11px 0px;
        }
        @media screen and (max-width: 720px) {
            .button-container {
                position: fixed;
                bottom: 0;
                background-color: white;
                width: 100%;
            }
            .step-container-header {
                display: none !important;
            }
            .create__request-button {
                max-width: 368px;
                position: relative;
                .lineFull {
                    top: 0;
                }
            }
        }
        @media screen and (max-width: 400px) {
            .create__request-button {
                max-width: 91%;
            }
        }
        .create__request-button-left {
            width: 100px;
            max-width: 40%;
            font-size: 14px;
            font-family: "Noto Sans JP";
            line-height: 22.4px;
            letter-spacing: -0.14px;
            white-space: nowrap;
            color: #418997 !important;
        }
        .create__request-button-right {
            font-size: 14px;
            min-width: 227px;
            flex: 1;
        }
    
        .another-company-button {
            font-size: 14px;
            line-height: 1.6;
            margin-top: 16px;
            border-radius: 4px;
            background-color: #f4f4f4;
            height: 50px;
            align-items: center;
            gap: 4px;
            color: #1b1b1b;
            cursor: pointer;
        }
    
        .rules-content {
            padding: 16px;
            background-color: #f4f4f4;
            border-radius: 8px;
            margin-bottom: 16px;
            &-title {
                font-size: 14px;
                font-weight: bold;
            }
            .note {
                margin-top: 16px;
            }
        }
    
        //css show result
        .result-content {
            padding: 16px;
            background-color: #f4f4f4;
            border-radius: 8px;
            margin-bottom: 8px;
            gap: 8px;
            &-title {
                height: 16px;
            }
            &-img {
                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 100px;
                }
            }
            .first-content {
                padding: 0 0 10px !important;
            }
            .last-content {
                padding: 10px 0 0 !important;
                border: none;
            }
            &-group {
                padding: 10px 0;
                border-bottom: 1px solid #e3e3e3;
                .filled-content {
                    font-size: 14px;
                    font-weight: bold;
                    word-wrap: break-word;
                    margin-top: 8px;
                    min-height: 22px;
                }
            }
            .title-content {
                height: 16px;
            }
        }
    }
}


@media screen and (min-width: 720px) {
    .step-container {
        padding: 0 0;
    }
    .create__request-button {
        padding: 11px 16px !important;
    }
}

.form__wrap-item {
    label {
        gap: 2px;
        padding-bottom: 0px;
        color: #1b1b1b;
        height: 16px;
        margin-bottom: 8px;
    }
    input {
        padding: 12.5px 10px;
        margin-bottom: 0;
        height: 44px;
        font-size: 12px;
        &::placeholder {
            font-size: 12px !important;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #b1b1b1;
            font-family: "Noto Sans JP";
        }
    }
    input:focus-visible {
        outline: #1b1b1b auto 1px !important;
    }
    .video-note {
        font-size: 10px;
        margin-top: 4px;
        height: 32px;
        line-height: 19.2px;
    }
}

.submit__button {
    margin-top: 0 !important;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:deep(.file-upload-clone) {
    margin-bottom: 0 !important;
    height: 50px;
}

.list-days {
    .item-text {
        height: 19px;
    }
}

@media screen and (min-width: 768px) {
    .step-container {
        padding: 0 0;
    }
    .image-header {
        display: flex;
        justify-content: center;
        img {
            width: 400px !important;
        }
    }
}

// css đè css global
.form__wrap-item {
    label {
        gap: 2px;
        padding-bottom: 6.5px;
        color: #1b1b1b;
    }
    input {
        padding: 12.5px 10px;
        margin-bottom: 0;
    }
    input:focus-visible {
        outline: #1b1b1b auto 1px !important;
    }
    .video-note {
        font-size: 10px;
    }
}

.submit__button {
    margin-top: 0 !important;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:deep(.file-upload-clone) {
    margin-bottom: 0 !important;
    height: 50px;
}

.image-header {
    img {
        height: 54px;
        width: 100%;
        object-fit: cover;
    }
}

//css pop up

:deep(.modal) {
    width: 400px;
    padding: 24px 20px 20px;
    border-radius: 10px;
}

:deep(.pop-up) {
    width: 360px;
    video,
    img {
        width: 100%;
        height: 146px;
    }
}

:deep(#form-wrap-double .file-change) {
    padding: 8px 0;
    margin: 0;
    max-width: 100%;
    height: 50px;
    border-radius: 4px;
}

:deep(.popup-text) {
    height: 50px;
    font-size: 14px;
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

:deep(.form__wrap-item .close-pop-up) {
    max-width: 100%;
    height: 50px;
}

@media screen and (max-width: 768px) {
    :deep(.modal) {
        width: 303px;
    }
    :deep(.pop-up) {
        width: 263px !important;
    }
}

:deep(.file-name span) {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

:deep(.select__input-wrapper) {
    border-radius: 4px;
    background-position: calc(100% - 10px) center !important;
}

:deep(.select__input-icon-wrapper) {
    padding-right: 0;
}

:deep(.valueExample) {
    color: #b1b1b1;
}

:deep(.select__dropdown-btn) {
    white-space: nowrap;
}

:deep(.fillInput) {
    border-color: rgb(227, 227, 227);
    color: #1b1b1b;
}
