main {
    min-height: calc(100vh - 54px - 80px);
    padding-bottom: 52px;

    @media screen and (max-width: 991px) and (min-height: 500px) {
        min-height: calc(100vh - 54px - 52px);
        padding-bottom: 0;
    }
}